<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="skroutz" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Skroutz Feed</label>
            <tab>sp_settings</tab>
            <resource>Spirit_SkroutzFeed::config</resource>
            <group id="feed" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cron Settings</label>
                <field id="frequency" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Frequency</label>
                    <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                    <backend_model>Spirit\SkroutzFeed\Model\Config\CronConfig</backend_model>
                </field>
                <field id="time" translate="label" type="time" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Start Time</label>
                </field>
            </group>
        </section>
        <section id="spirit_skroutz" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
            <label>Skroutz</label>
            <tab>sp_settings</tab>
            <resource>Spirit_SkroutzFeed::config_spirit_skroutzfeed</resource>
            <group id="feed_settings" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                <label>XML Feed Settings</label>
                <field id="status" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Enabled</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="filename" type="text" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Filename</label>
                    <comment/>
                </field>
                <field id="exclude_disabled" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Exclude Disabled Products</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="exclude_outofstock" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>Exclude Out of Stock Products</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="exclude_not_visible" type="select" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">
                    <label>exclude_not_visible</label>
                    <comment/>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
<!--                <field id="exclude_categories" type="multiselect" sortOrder="10" showInWebsite="1" showInStore="1" showInDefault="1" translate="label">-->
<!--                    <label>Exclude Categories</label>-->
<!--                    <comment/>-->
<!--                    <source_model>Spirit\SkroutzFeed\Model\Config\Source\ExcludeCategories</source_model>-->
<!--                </field>-->
            </group>
        </section>
    </system>
</config>
